@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    box-sizing: border-box;
}
body{
    background: #009fff; 
    background: -webkit-linear-gradient(to right, #009fff, #ec2f4b); 
    background: linear-gradient(to right, #009fff, #ec2f4b); 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.btn{
    height: 5vw;
    width: 7vw;
    margin: 1vw;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 30px;
    font-size:1.2vw;
    background-color: rgb(16, 8, 47);
    border: #000000;
    
}
.btn:active{
    color: red;
}